unicorn-xml-samples/eventType-TestEvent.xsd

<?xml version="1.0" encoding="utf-8"?>
                <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="TestEvent.xsd"
        targetNamespace="TestEvent.xsd" elementFormDefault="qualified">
        <xs:element name="TestEvent">
        <xs:complexType>
        <xs:sequence>
        <xs:element name="TestValue" type="xs:float"
        minOccurs="1" maxOccurs="1" />
        <xs:element name="Timestamp" type="xs:dateTime" minOccurs="1"
        maxOccurs="1" />
        </xs:sequence>
        </xs:complexType>
        </xs:element>
        </xs:schema>